<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CalendarStudyDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A68F76AE1EE1732C0021E83B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A68F76C71EE1732C0021E83B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A68F76D21EE1732C0021E83B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
